.grid-container {
    display: grid;
    /* width: 800px;
    height: 600px; */
    grid-template-areas: 
    'topbar topbar topbar'
    'chatbox chatbox userlist'
    'messagebox messagebox messagevox';

    /* grid-template-columns: 1fr 1fr 1fr; */
}

#topbar { grid-area: topbar; }
#chatbox { grid-area: chatbox; }
#userlist{ grid-area: userlist; }
#messagebox{ grid-area: messagebox; }


/* Components */

#chatbox-div {
    position: 'relative';
    /* background-color: blue; */
}

#chatbox {
    border: '2px solid black';
    position: 'absolute';
    overflow: 'auto';
    height: 80%;
    width: 80%;
}